go 1.22.1

use (
	.
	./behavioral/chainofresponsibility
	./behavioral/command
	./behavioral/iterator
	./behavioral/mediator
	./behavioral/memento
	./behavioral/observer
	./behavioral/state
	./behavioral/strategy
	./behavioral/templatemethod
	./behavioral/visitor
	./creational/abstractfactory
	./creational/builder
	./creational/prototype
	./creational/singleton
	./structural/adapter
	./structural/bridge
	./structural/composite
	./structural/facade
)
