go 1.20

use (
    ./creational/singleton
    ./creational/builder
    ./creational/abstractfactory
    ./creational/prototype
    ./behavioral/chainofresponsibility
    ./behavioral/command
    ./behavioral/iterator
    ./behavioral/mediator
    ./behavioral/memento
    ./behavioral/observer
    ./behavioral/state
    ./behavioral/strategy
    ./behavioral/templatemethod
    ./behavioral/visitor
    ./structural/adapter
    ./structural/bridge
    ./structural/composite
    .
)
